
$btnBorderColor: blue;
$btnBigBackgroundColor: adjust-color($btnBorderColor, $alpha:-0.95);
$btnBigHoverColor: adjust-color($btnBorderColor, $alpha:-0.90);
$btnColor: adjust-color($btnBorderColor, $alpha:-0.9);
$btnHoverColor: adjust-color($btnColor, $alpha:0.4);